body {   background: #FAFAFA
   0% 0% no-repeat padding-box;
  }
  
 
  #l_img {
    /* top: 72px;
    left: 166px; */
    width: 576px;
    height: 576px;
    box-shadow: 0px 4px 31px #0000000A;
    border: 20px solid #FFFFFF;
    opacity: 1;
    border-radius: 50%;
    
  }
  
.flex-container {
    display: flex;
    flex-direction: row;
    
    
  }
  .flex-container-col {
    display: flex;
    flex-direction: column;
    
    
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  li {
    float: left;
    display: inline;
  }
  li div{
    display: block;
  }
  
  .flex-item-left {
    /* background-color: #f1f1f1; */
    
    /* flex: 50%; */
  }
  
  .flex-item-right {
    /* background-color: dodgerblue; */
    /* padding: 10px; */
    flex: 50%;
  }
  @media (max-width: 800px) {
    .flex-container {
      flex-direction: column;
    }
  }



  .header {
   
    background-color: #f1f1f1;
    overflow: auto;
  
  }
  .header img {
   
    color: black;
     
    line-height: 25px;
    border-radius: 4px;
  }
  .header-left{
  float: left;
  /* justify-content: space-around; */
  /* offset-distance: 20px; */
  display: flex;
  }

  .header-right {
  float: right;
  
    
  }

  @media screen and (max-width: 500px) {
    .header a {
      /* float: none; */
      display: block;
      /* text-align: left; */
    }
    
    .header-right {
      float: none;
    }
    .header-left{
      float: none;
    }
  }
  .box{
    width: 100%;
  }
  th, td {
    text-align: left;
    padding: 8px;
  }
  th{flood-color:aliceblue;}